@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* Title css styles */

.Title {
  display: flex;
  align-items: stretch;
  padding: 30px 30px 25px;
  background-color: rgb(30, 44, 83);
}

.Btable {
  margin: 0 auto;
  width: 50%;
  font-size: 20px;
  padding: 20px;
}

.Content {
  font-size: 20px;
  text-align: right;
  margin-right: 1em;
  padding: 20px;
}

.data {
  font-size: 20px;
  text-align: left;
  margin-left: 16em;

  padding: 20px;
  text-align: justify;
}

.subtopic {
  font-size: 30px;
  text-align: center;
  margin-right: 18em;
  padding: 20px;
}

.points {
  font-size: 20px;
  text-align: left;
  margin-left: 360px;
  padding: 1px;
}

#align {
  margin-right: 23em;
}

a {
  text-decoration: none;
  color: #fff;
}

.points2 {
  font-size: 20px;
  text-align: left;
  margin-left: 380px;
  padding: 1px;

}

.align3 {
  margin-left: 80px;
}

.button {
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 7px 10px;
  border-radius: 8px;
  margin: 0px 1130px;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
/* 
 
 
/* styling */
.nameStyle {
  margin: 20px;
  font-weight: 600;
}

.sideItemStyle {
  height: auto;
  min-height: 50px;
  width: 350px;

  color: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.linkContainerStyle {

  height: auto;
  width: 350px;
  background: #FAFAFA;
  border-top: 1px solid #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
  /*"@keyframes: fadeTest":{
        from: { opacity: 0},
        to: { opacity: 1},
    },
    animation: "0.6s ease-in fadeTest 0s",*/
}

.linkStyle {
  text-decoration: none;
  color: #555555;
}


.sideNavStyle {
  height: auto;
  width: 350px;
  background: rgb(55, 82, 131);
  /* background: "liner-gradient(135deg, rgba(55,82,131,1) 0% rgba(20,96,194,1)", */
  position: absolute;
  border: 1px solid transparent;
  left: 0;
  text-align: left;
}

/* Mobile device responsive */

@media screen and (max-width: 600px) {
  body {
    width: 100%;
    overflow: hidden;
    overflow-y: auto;

  }

  .Title {
    width: 100%;
    font-size: 10px;
    display: flex;
    align-items: baseline;
    padding: 30px 20px 25px;
    background-color: rgb(30, 44, 83);
    color: #fff;
  }

  .button {
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 7px 10px;
    border-radius: 8px;
    margin: 0px 100px;
    cursor: pointer;
  }


  .nameStyle {
    margin: 20px;
    font-weight: 1000;
    font-size: x-small;
  }

  .sideItemStyle {
    height: auto;
    min-height: 50px;
    width: 80px;
    color: #fff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .linkContainerStyle {

    height: auto;
    width: 100px;
    background: #FAFAFA;
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    /*"@keyframes: fadeTest":{
      from: { opacity: 0},
      to: { opacity: 1},
  },
  animation: "0.6s ease-in fadeTest 0s",*/
  }

  .linkStyle {
    text-decoration: none;
    color: #555555;
  }


  .sideNavStyle {
    height: auto;
    width: 100px;
    background: rgb(55, 82, 131);
    /* background: "liner-gradient(135deg, rgba(55,82,131,1) 0% rgba(20,96,194,1)", */
    position: absolute;
    border: 1px solid transparent;
    left: 0;
    text-align: left;

  }

  .Btable {
    font-size: 10px;
    text-align: center;
    margin-right: 12em;
    padding: 20px;

  }

  .Content {
    font-size: 10px;
    text-align: center;
    margin-right: 0px;
    padding: 10px;

  }

  .data {
    font-size: 12px;
    text-align: left;
    margin-left: 6em;

    padding: 20px;
    text-align: justify;
  }

  .points2 {
    font-size: 10px;
    text-align: left;
    margin-left: 120px;
    padding: 1px;

  }

  .subtopic {
    font-size: 12px;
    text-align: center;
    margin-right: 6em;
    padding: 20px;
  }

  .points {
    font-size: 10px;
    text-align: left;
    margin-left: 120px;
    padding: 1px;
  }

  #align {
    margin-right: -10px;
    font-size: 12px;
  }

  .cfilter {
    display: none;
  }

}